 <!-- Blog Details Hero Begin -->
 <section class="blog-details-hero set-bg" style="background-image: url(assets/img/blog/details/details-hero.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="blog__details__hero__text">
                  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{blog.title}}</h2>
                  <ul>
                      <li>{{blog.createdDate|date:'MMM dd,yyyy'}}</li>
                      <li>8 Bình luận</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-5 order-md-1 order-2">
              <div class="blog__sidebar">
                  <div class="blog__sidebar__search">
                      <form action="#">
                          <input type="text" placeholder="Tìm kiếm...">
                          <button type="submit"><span class="icon_search"></span></button>
                      </form>
                  </div>

                  <div class="blog__sidebar__item">
                      <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Tin mới nhất</h4>
                      <div class="blog__sidebar__recent">
                          <a class="blog__sidebar__recent__item" *ngFor="let item of newestBlog" (click)="changePage(item.id)" style="cursor: pointer;">
                              <div class="blog__sidebar__recent__item__pic" >
                                  <img src="{{item.images[0]}}" width="70" height="60" alt="">
                              </div>
                              <div class="blog__sidebar__recent__item__text">
                                  <h6 *ngIf="item.title.length>65">{{item.title.substring(0,60)}}...</h6>
                                  <h6 *ngIf="item.title.length<=65">{{item.title}}</h6>
                                  <span>{{item.createdDate|date:'dd/MM/yyyy'}}</span>
                              </div>
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-8 col-md-7 order-md-1 order-1">
              <div class="blog__details__text">
                  <img src="{{blog.images[0]}}" alt="">
                  <div [innerHTML]="blog.content"></div>
              </div>
              <div class="blog__details__content">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="blog__details__author">
                              <div class="blog__details__author__pic">
                                  <img src="assets/img/poster.jpg" alt="">
                              </div>
                              <div class="blog__details__author__text">
                                  <h6>Nguyễn Thị Hiền</h6>
                                  <span>Admin</span>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="blog__details__widget">
                              <ul>
                                  <li><span>Danh mục:</span> {{blog.categoryName}}</li>
                                  <li><span>Thẻ:</span> Tất cả, Xu hướng, Nội trợ, Thực phẩm sạch, Phong cách sống</li>
                              </ul>
                              <div class="blog__details__social">
                                  <a ><i class="fa fa-facebook"></i></a>
                                  <a ><i class="fa fa-twitter"></i></a>
                                  <a ><i class="fa fa-google-plus"></i></a>
                                  <a ><i class="fa fa-linkedin"></i></a>
                                  <a ><i class="fa fa-envelope"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Details Section End -->

<!-- Related Blog Section Begin -->
<section class="related-blog spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title related-blog-title">
                  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Bài viết cùng chủ đề</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let item of sameBlogs" (click)="changePage(item.id)" style="cursor: pointer;">
              <div class="blog__item" >
                  <div class="blog__item__pic">
                      <img src="{{item.images[0]}}" height="230" alt="">
                  </div>
                  <div class="blog__item__text">
                      <ul>
                          <li><i class="fa fa-calendar-o"></i> {{item.createdDate|date:'dd/MM/yyyy'}}</li>
                          <li><i class="fa fa-comment-o"></i> 5</li>
                      </ul>
                      <h5><a>{{item.title}}</a></h5>
                      <p>{{item.title}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Related Blog Section End -->
