.modal-lg {
  max-width: 80%;
}
.header1
{
  background-color: rgba(135, 32, 67, 0.8);
  padding: 30px;
}
h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label
{
  color: gray;
}
a:hover{
  cursor: pointer;
  color: green;
}

small:hover{
  cursor: pointer;
  color: green;
}

small{
  color: gray;
}

#cart:hover
{
  cursor: pointer;
  color: rgb(255, 119, 0);
}
#cart-icon:hover
{
  color: rgb(255, 119, 0);
}








