<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> thucphamsach24h@gmail.com</li>
              <li>Free ship cho đơn từ 199k</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social" *ngIf="account">
              <a routerLink="/order-follow"><i class="fa fa-archive" ></i> Đơn hàng</a>
            </div>

            <div class="header__top__right__auth" data-toggle="modal" data-target="#modalLoginForm" *ngIf="!account">
              <a><i class="fa fa-user-circle"></i>Đăng nhập</a>
            </div>
            <div class="header__top__right__auth" *ngIf="account" data-toggle="modal" data-target="#modalProfile">
              <a><img src="{{account.avatar}}" width="25" height="25" style="border-radius: 1000px;" alt=""> {{account.userName}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li routerLinkActive="active"><a routerLink="/home">Trang chủ</a></li>
            <li routerLinkActive="active" ><a [routerLink]="['shop','']">Sản phẩm</a></li>
            <!-- <li><a href="#">Pages</a>
              <ul class="header__menu__dropdown">
                <li><a href="./shop-details.html">Shop Details</a></li>
                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                <li><a href="./checkout.html">Check Out</a></li>
                <li><a href="./blog-details.html">Blog Details</a></li>
              </ul>
            </li> -->
            <li routerLinkActive="active"><a routerLink="/blog">Tin tức</a></li>
            <li routerLinkActive="active"><a routerLink="/contact">Liên hệ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart" routerLink="/cart" id="cart">
          <ul>

            <li><a><i class="fa fa-shopping-bag"></i> <span>{{count}}</span></a></li>
            <!-- <li ><a ><i class="fa fa-shopping-cart" id="cart-icon"></i> </a>  </li> -->
          </ul>
          <div class="header__cart__price"><span>{{total|currency:'VND'}}</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->


<app-popup-login></app-popup-login>
<app-profile></app-profile>
