<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="./index.html"><img src="assets/img/logo.png" alt=""></a>
          </div>
          <ul>
            <li>Địa chỉ: 65 Xuân Thủy, Cầu Giấy, Hà Nội</li>
            <li>Điện thoại: 098.999.9999</li>
            <li>Email: thucphamsach24h@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 offset-lg-1">
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="footer__widget">
          <h6>Hỗ trợ khách hàng</h6>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i>  Hãy để lại email để nhận những thông báo mới nhất từ cửa hàng</p>
          <form action="#">
            <input type="text" placeholder="Nhập email của bạn">
            <button type="submit" class="site-btn">Đăng kí</button>
          </form>
          <div class="footer__widget__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> Nguyễn Thị Hiền
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          <div class="footer__copyright__payment"><img src="assets/img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
