 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Liên hệ</h2>
                  <div class="breadcrumb__option">
                      <a href="./index.html">Trang chủ</a>
                      <span>Liên hệ</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 text-center">
              <div class="contact__widget">
                  <span class="icon_phone"></span>
                  <h4>Phone</h4>
                  <p>098.999.9999</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 text-center">
              <div class="contact__widget">
                  <span class="icon_pin_alt"></span>
                  <h4>Address</h4>
                  <p>8-24 Ng. 5 Đ. Lê Đức Thọ, Mai Dịch, Cầu Giấy, Hà Nội</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 text-center">
              <div class="contact__widget">
                  <span class="icon_clock_alt"></span>
                  <h4>Open time</h4>
                  <p>10:00 am to 23:00 pm</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 text-center">
              <div class="contact__widget">
                  <span class="icon_mail_alt"></span>
                  <h4>Email</h4>
                  <p>thucphamsach24h@gmail.com</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9294075558155!2d105.7725449!3d21.0355104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b7a8ab6cc5%3A0xe07e9a7199164f57!2zOC0yNCBOZy4gNSDEkC4gTMOqIMSQ4bupYyBUaOG7jSwgTWFpIEThu4tjaCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1657552329585!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="map-inside">
      <i class="icon_pin"></i>
      <div class="inside-widget">
          <h4>Thực phẩm sạch</h4>
          <ul>
              <li>Phone: 098.999.9999</li>
              <li>Add: 8-24 Ng. 5 Đ. Lê Đức Thọ, Mai Dịch, Cầu Giấy, Hà Nội </li>
          </ul>
      </div>
  </div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="contact__form__title">
                  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Liên hệ với chúng tôi</h2>
              </div>
          </div>
      </div>
      <form action="#">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <input type="text" placeholder="Họ tên">
              </div>
              <div class="col-lg-6 col-md-6">
                  <input type="text" placeholder="Email">
              </div>
              <div class="col-lg-12 text-center">
                  <textarea placeholder="Vấn đề liên hệ"></textarea>
                  <button type="submit" class="site-btn">Gửi liên hệ</button>
              </div>
          </div>
      </form>
  </div>
</div>
<!-- Contact Form End -->
