.payment-content {
  max-width: 80%;
}
.payment-header
{
  background-color: rgba(255, 84, 16, 0.8);
  padding: 30px;
}
h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr.dashed {
  border-top: 2px dashed rgb(2, 164, 233);
}
#total{
  color: orange;
}
#quantity{
  color:orange !important;
}

.image{
  border-radius: 10px;
  box-shadow: 0px 3px 10px;
}









