<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Giỏ hàng</h2>
          <div class="breadcrumb__option">
            <a href="">Trang chủ</a>
            <span>Giỏ hàng</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad" *ngIf="products.length">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <thead>
              <tr>
                <th>
                  <div style="margin-bottom: 20px;">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" (input)="getAll()" name="sl"
                      [checked]="selectedProducts.length===products.length">
                  </div>
                </th>
                <th class="shoping__product">Sản phẩm</th>
                <th>Giá</th>
                <th>Giá KM</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td>
                  <div style="margin-bottom: 25px;">
                    <input class="form-check-input" type="checkbox" (input)="selectCart(item)" [checked]="selectAll"
                      style="margin-bottom: 20px;">
                  </div>
                </td>
                <td class="shoping__cart__item">
                  <img class="image" src={{item.images[0]}} width="70" height="70">
                  <h5>{{item.name}}</h5>
                </td>
                <td class="shoping__cart__price">
                  {{item.price|currency:'VND'}}
                </td>
                <td class="shoping__cart__price">{{item.promotionPrice|currency:'VND'}}</td>
                <td class="shoping__cart__quantity">
                  <div class="quantity">
                    <div class="pro-qty"><span class="dec qtybtn" (click)="minius(item)">-</span>
                      <input type="number" [(ngModel)]="item.quantityCart" (change)="changeQuantity(item)"
                        name="quantity">
                      <span class="inc qtybtn" (click)="plus(item)">+</span>
                    </div>
                  </div>
                </td>
                <td class="shoping__cart__total">
                  {{item.promotionPrice*item.quantityCart|currency:'VND'}}
                </td>
                <td class="shoping__cart__item__close" (click)="remove(item)">
                  <span class="icon_close"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="#" class="primary-btn cart-btn">TIẾP TỤC MUA SẮM</a>

        </div>
      </div>
    </div>

    <div class="row" *ngIf="selectedProducts.length">

      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mã giảm giá</h5>
            <form action="#">
              <input type="text" placeholder="Nhập mã giảm giá">
              <button type="submit" class="site-btn">ÁP DỤNG</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hóa đơn</h5>
          <ul style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <li>Giá trị đơn hàng <span>{{getTotal()|currency:'VND'}}</span></li>
            <li>Thành tiền <span>{{getTotal()|currency:'VND'}}</span></li>
          </ul>
          <a class="primary-btn" data-toggle="modal" data-target="#payment">ĐẶT HÀNG</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shoping Cart Section End -->

<section class="shoping-cart spad" *ngIf="!products.length && account">
  <div class="d-flex justify-content-center">
    <img  src="assets/img/empty-cart.png" alt="">

  </div>
  <div class="d-flex justify-content-center mt-3">

    <div class="shoping__cart__btns">
      <a href="#" class="primary-btn cart-btn">TIẾP TỤC MUA SẮM</a>

    </div>
  </div>
</section>



<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog payment-content" role="document">
    <div class="modal-content">

      <div class="modal-body mx-3">
        <div class="row mt-3 mb-1">
          <div class="col-md-11 ">
            <h4 class="font-weight-bold ">Thông tin đơn hàng</h4>
          </div>
          <div class="col-md-1">
            <i class="fa fa-times justify-content-end" style="font-size: 22px;color: gray; cursor: pointer;"
              data-dismiss="modal"></i>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12">
            <hr class="dashed">
          </div>
        </div>
        <div class="shoping__cart__table">
          <table style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <thead>
              <tr>
                <th class="shoping__product">Sản phẩm</th>
                <th></th>
                <th></th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedProducts">

                <td class="shoping__cart__item">
                  <img  class="image" src={{item.images[0]}} width="70" height="70">
                  <h5>{{item.name}}</h5><small id="quantity"> x{{item.quantityCart}}</small>
                </td>
                <td class="shoping__cart__quantity">
                  <small>{{item.categoryName}}</small>
                </td>
                <td class="shoping__cart__price">
                  {{item.promotionPrice|currency:'VND'}}&nbsp;&nbsp;&nbsp;&nbsp;
                  <s><small>{{item.price|currency:'VND'}}</small></s>
                </td>




              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-lg-8">

          </div>
          <div class="col-lg-4 justify-content-end">
            <small>Phí vận chuyển : {{15000|currency:'VND'}}</small>
            <br><br>
            <h6>Tổng tiền:</h6>
            <h4><b id="total">{{getTotal()+15000|currency:'VND'}}</b></h4>
          </div>
        </div>
        <div class="row"><div class="col-lg-12"><h5><b>Thông tin người nhận</b></h5></div></div>
        <div class="row mb-4">
          <div class="col-lg-12">
            <hr class="dashed">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <input type="checkbox" name="otheraddress" [(ngModel)]="otherAddress" (input)="changeAddress()"> Sử dụng địa chỉ khác
          </div>
        </div>

        <div class="row" *ngIf="otherAddress">
          <div class="col-lg-8">
            <label for="">Họ tên</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]="order.fullName">

          </div>
          <div class="col-lg-4">
            <label for="">Số điện thoại</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="order.phone">
          </div>

          <div class="col-lg-12">
            <label for="">Địa chỉ</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="order.address">
          </div>
        </div>


        <div class="row" *ngIf="!otherAddress">
          <div class="col-lg-8">
            <label for="">Họ tên</label>
            <p>{{account?account.userDTO.fullName:''}}</p>

          </div>
          <div class="col-lg-4">
            <label for="">Số điện thoại</label>
            <p>{{account?account.userDTO.phoneNumber:''}}</p>
          </div>

          <div class="col-lg-12">
            <label for="">Địa chỉ</label>
            <p>{{account?account.userDTO.address:''}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

              <label for="">Ghi chú</label>
              <textarea name="note" id="" cols="30" rows="5" class="form-control" [(ngModel)]="order.note"> </textarea>

          </div>
        </div>

      </div>
      <div class="row mb-4 ml-5 mr-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><button class="btn btn-default col-lg-12 py-2" style="cursor: pointer;" data-dismiss="modal">Hủy</button></div>
        <div class="col-lg-3"><button class="btn btn-primary col-lg-12 py-2" style="cursor: pointer;" (click)="payment()">Đặt hàng</button></div>
        <div class="col-lg-3"></div>

      </div>
    </div>
  </div>
</div>

<section class="shoping-cart spad" *ngIf="!account">
  <div class="d-flex justify-content-center mb-3">

      <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#modalLoginForm">ĐĂNG NHẬP</button>

  </div>
  <div class="d-flex justify-content-center">
    <i class="fa fa-frown-o" aria-hidden="true" style="color: gray;">  Bạn chưa đăng nhập, hãy đăng nhập để tiếp tục mua sắm !</i>
  </div>
</section>
