 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Thông tin tài khoản</h2>
                  <div class="breadcrumb__option">
                      <a href="./index.html">Trang chủ</a>
                      <span>Tài khoản</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<div class="container-fluid mb-5 mt-5">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <form role="form" method="post" action="register.php">
          <fieldset>
            <p class="text-uppercase pull-center"> THÔNG TIN CÁ NHÂN</p>
            <div class="form-group">
              <label for="">Họ tên</label>

              <input type="text" class="form-control input-lg"  name="fullName" [(ngModel)]="userDTO.fullName">
              <small *ngIf="submited && !userDTO.fullName">Yêu cầu không được để trống !</small>
            </div>
            <div class="form-group">
              <label for="">Ngày sinh</label>
              <input type="date" class="form-control input-lg" placeholder="Ngày sinh" name="dateOfBirth" [(ngModel)]="userDTO.dateOfBirth">
              <small *ngIf="submited && !userDTO.dateOfBirth">Yêu cầu không được để trống !</small>

            </div>

            <div class="form-group">
              <label for="">Giới tính</label>
              <br>
              <!-- Default radio -->
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="flexRadioDefault"   (input)="setGender(true)"/>
                <label class="form-check-label" for="flexRadioDefault1"> Nam </label>
              </div>
              <!-- Default checked radio -->
              <div class="form-check form-check-inline ml-5">
                <input class="form-check-input" type="radio" name="flexRadioDefault"   (input)="setGender(false)"/>
                <label class="form-check-label" for="flexRadioDefault2"> Nữ </label>
              </div>
            </div>

            <div class="form-group">
              <label for="">Email</label>

              <input type="email" class="form-control input-lg"  name="email" [(ngModel)]="userDTO.email">
              <small *ngIf="submited && !userDTO.email">Yêu cầu không được để trống !</small>

            </div>

            <div class="form-group">
              <label for="">Số điện thoại</label>

              <input type="text" class="form-control input-lg"  name="phoneNumber" [(ngModel)]="userDTO.phoneNumber">
              <small *ngIf="submited && !userDTO.phoneNumber">Yêu cầu không được để trống !</small>

            </div>
            <div class="form-group">
              <label for="">Địa chỉ</label>
             <textarea name="address"  [(ngModel)]="userDTO.address"  cols="10" rows="3" class="form-control"></textarea>
              <small *ngIf="submited && !userDTO.address">Yêu cầu không được để trống !</small>

            </div>




            <div class="form-group">
              <input type="button" class="btn btn-lg btn-primary col-md-12" value="Đăng kí" (click)="update()">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-md-2">
        <!-------null------>
      </div>

      <div class="col-md-5">
        <form role="form">
          <fieldset>
            <p class="text-uppercase">THÔNG TIN TÀI KHOẢN</p>

            <div class="form-group">
              <label for="">Tên tài khoản</label>
              <input type="text" name="userName"  class="form-control input-lg" [(ngModel)]="account.userName">
              <small *ngIf="submited && !account.userName">Yêu cầu không được để trống !</small>
            </div>
            <div class="form-group">
              <label for="">Mật khẩu</label>
              <input type="password" name="password" class="form-control input-lg" [(ngModel)]="account.password" >
              <small *ngIf="submited && !account.password">Yêu cầu không được để trống !</small>

            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>

</div>
