<section id="tabs">
	<div class="container">
		<h6 class="section-title h1">Theo dõi đơn hàng</h6>
		<div class="row">
			<div class="col-lg-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" (click)="setStatus(1)">Chờ xác nhận({{countDTO.count1}})</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="setStatus(2)">Chờ lấy hàng({{countDTO.count2}})</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="setStatus(3)">Đang giao({{countDTO.count3}})</a>
						<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false" (click)="setStatus(4)">Đã thanh toán({{countDTO.count4}})</a>
						<a class="nav-item nav-link" id="nav-cancle-tab" data-toggle="tab" href="#nav-cancle" role="tab" aria-controls="nav-cancle" aria-selected="false" (click)="setStatus(5)">Đã hủy({{countDTO.count5}})</a>
					</div>
				</nav>
				<div class="tab-content py-3" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel"  >
            <div class="card shadow-0 border mb-4" *ngFor="let item of orders" (click)="bind(item)">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor" aria-labelledby="nav-home-tab"  data-toggle="modal" data-target="#modal">
                    <p class="text-muted mb-0">Mã đơn hàng: {{item.id}}</p>
                  </div>
                  <div class="col-md-2" aria-labelledby="nav-home-tab"  data-toggle="modal" data-target="#modal">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor" aria-labelledby="nav-home-tab"  data-toggle="modal" data-target="#modal">
                    <p class="text-muted mb-0 small">Ngày đặt hàng: {{item.createdDate|date:'dd/MMM/yyyy'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor" aria-labelledby="nav-home-tab"  data-toggle="modal" data-target="#modal">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor" aria-labelledby="nav-home-tab"  data-toggle="modal" data-target="#modal">
                    <p class="text-muted mb-0 small">Tổng tiền: {{item.total|currency:'VND'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <i class="fa fa-ban" aria-hidden="true" id="cancle" (click)="cancle(item)"></i>
                  </div>
                </div>

              </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >
						<div class="card shadow-0 border mb-4" *ngFor="let item of orders" (click)="bind(item)" data-toggle="modal" data-target="#modal">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0">Mã đơn hàng: {{item.id}}</p>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Ngày đặt hàng: {{item.createdDate|date:'dd/MMM/yyyy'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Tổng tiền: {{item.total|currency:'VND'}}</p>
                  </div>
                </div>

              </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" >
						<div class="card shadow-0 border mb-4" *ngFor="let item of orders" (click)="bind(item)" data-toggle="modal" data-target="#modal">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0">Mã đơn hàng: {{item.id}}</p>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Ngày đặt hàng: {{item.createdDate|date:'dd/MMM/yyyy'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Tổng tiền: {{item.total|currency:'VND'}}</p>
                  </div>
                </div>

              </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab" >
						<div class="card shadow-0 border mb-4" *ngFor="let item of orders" (click)="bind(item)" data-toggle="modal" data-target="#modal">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0">Mã đơn hàng: {{item.id}}</p>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Ngày đặt hàng: {{item.createdDate|date:'dd/MMM/yyyy'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Tổng tiền: {{item.total|currency:'VND'}}</p>
                  </div>
                </div>

              </div>
            </div>
					</div>
          <div class="tab-pane fade" id="nav-cancle" role="tabpanel" aria-labelledby="nav-cancle-tab" >
						<div class="card shadow-0 border mb-4" *ngFor="let item of orders" (click)="bind(item)" data-toggle="modal" data-target="#modal">
              <div class="card-body">
                <div class="row">

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0">Mã đơn hàng: {{item.id}}</p>
                  </div>
                  <div class="col-md-2">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Ngày đặt hàng: {{item.createdDate|date:'dd/MMM/yyyy'}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                    <p class="text-muted mb-0 small">Tổng tiền: {{item.total|currency:'VND'}}</p>
                  </div>
                </div>

              </div>
            </div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>





<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="card" style="border-radius: 10px;">

        <div class="card-body p-4">
          <h4>Chi tiết hóa đơn</h4>
          <hr>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="lead fw-normal mb-0" style="color: #a8729a;font-family: Verdana, Geneva, Tahoma, sans-serif;">Sản phẩm</span>

          </div>
          <div class="card shadow-0 border mb-4" *ngFor="let item of order.products">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img src={{item.image}} width="60" height="60" style="border-radius: 10px;"
                    class="img-fluid" alt="Phone">
                </div>
                <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                  <p class="text-muted mb-0">{{item.productName}}</p>
                </div>
                <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                  <p class="text-muted mb-0 small">{{item.categoryName}}</p>
                </div>
                <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">

                </div>
                <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                  <p class="text-muted mb-0 small">Số lượng: {{item.quantity}}</p>
                </div>
                <div class="col-md-2 text-center d-flex justify-content-center align-items-center cursor">
                  <p class="text-muted mb-0 small">{{item.quantity*item.currentPrice|currency:'VND'}}</p>
                </div>
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-between pt-2">
            <p class="fw-bold mb-0">Thông tin hóa đơn</p>
            <p class="text-muted mb-0"><span class="fw-bold me-4">Tổng tiền hàng:</span> {{order.total-15000|currency:'VND'}}</p>
          </div>

          <div class="d-flex justify-content-between pt-2">
            <p class="text-muted mb-0">Mã hóa đơn : {{order.id}}</p>
            <p class="text-muted mb-0"><span class="fw-bold me-4">Phí vận chuyển:</span> {{15000|currency:'VND'}}</p>
          </div>

          <div class="d-flex justify-content-between pt-2">
            <p class="text-muted mb-0">Ngày đặt : {{order.createdDate|date:'dd/MM/yyyy'}}</p>
            <p class="text-muted mb-0"><span class="fw-bold me-4">Tổng tiền khách phải trả:</span> {{order.total|currency:'VND'}}</p>

          </div>

          <div class="d-flex justify-content-between mb-5">

          </div>
        </div>

          <h6 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 20px;">Cảm ơn quý khách và hẹn gặp lại!</h6>
      </div>

    </div>
  </div>
</div>
