.modal-lg {
  max-width: 60%;
  border-radius: 25px;
}

h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label
{
  color: gray;
}
a:hover{
  cursor: pointer;
  color: green;
}

small:hover{
  cursor: pointer;
  color: green;
}

small{
  color: gray;
}
.valid{
  color: red;
}






