<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="d-flex" *ngIf="isShowRegis">
        <i class="fa fa-chevron-left p-4 justify-content-start" style="cursor: pointer;" (click)="showLogin()"> Trở
          lại</i>
      </div>
      <div *ngIf="isShowLogin">
        <div class="modal-header text-center header1">
          <h4 class="modal-title w-100 font-weight-bold">Đăng nhập</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-5">
          <div class="md-form d-flex justify-content-center mt-3">
            <img src="assets/img/logo.png" alt="">

          </div>
          <div class="md-form ml-2 mr-2 mt-4 mb-2">

            <label for=""><i class="fa fa-user"></i> Tên đăng nhập</label>
            <input type="text" class="form-control" [(ngModel)]="login.userName" name="userName" >
          <small class="valid" *ngIf="submitted &&login.userName&& login.userName.length>20">Tên đăng nhập không được vượt quá 20 kí tự!</small>
          <small *ngIf="submitted&&!login.userName" class="valid">Tên đăng nhập không được để trống</small>

          </div>

          <div class="md-form mt-3 mb-4 ml-2 mr-2">
            <label for=""><i class="fa fa-key"></i> Mật khẩu</label>
            <input type="password" id="defaultForm-pass" class="form-control" [(ngModel)]="login.password"
              name="password">
            <small *ngIf="submitted&&!login.password" class="valid">Mật khẩu không được để trống</small>
            <br>
            <small (click)="showRegis()">Đăng kí ?</small>
          </div>

          <div class="mt-5 mb-5 mr-2 ml-2  d-flex justify-content-center">

            <button class="btn btn-success col-md-12" (click)="authen()">Đăng nhập</button>

          </div>
          <div class="mt-5 mb-5 mr-2 ml-2  d-flex justify-content-center" *ngIf="notValid">

            <h6 class="valid">Tên tài khoản hoặc mật khẩu không đúng</h6>

          </div>

        </div>
      </div>

      <div *ngIf="isShowRegis">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
