<!-- Humberger Begin -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>THUCPHAMSACH24H.VN</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Trang chủ</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
          <!-- slides -->
          <div class="carousel-inner">
            <div class="carousel-item active" *ngIf="product">
              <img src="{{ product.images[0] }}" alt="Hills" style="height: 500px;" />
            </div>
            <div class="carousel-item" *ngFor="let item of product.images.slice(1)">
              <img src="{{ item }}" alt="Hills" style="height: 500px;" />
            </div>
          </div>
          <!-- Left right -->
          <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#custCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
          <!-- Thumbnails -->
          <ol class="carousel-indicators list-inline"></ol>
        </div>

      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{product.name}}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(18 đánh giá)</span>
          </div>
          <div class="product__details__price">{{product.promotionPrice|currency:'VND'}} <small><s
                style="color: gray;">{{product.price|currency:'VND'}}</s></small></div>
          <p>{{product.shortDescription}}</p>

          <div *ngIf="product.quantity>0">
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty"><span class="dec qtybtn" (click)="minius(product)">-</span>
                  <input type="number" [(ngModel)]="product.quantityCart" name="quantity">
                  <span class="inc qtybtn" (click)="plus(product)">+</span>
                </div>
              </div>
            </div>
            <a class="primary-btn" style="cursor: pointer;" data-toggle="modal" data-target="#modalLoginForm"
              *ngIf="!account">Mua ngay</a>
            <a class="primary-btn" style="cursor: pointer;" *ngIf="account" data-toggle="modal"
              data-target="#payment">Mua ngay</a>

            <a class="heart-icon" data-toggle="modal" data-target="#modalLoginForm" *ngIf="!account"><i
                class="fa fa-cart-plus" aria-hidden="true"></i></a>
            <a class="heart-icon" *ngIf="account" (click)="addToCart(product)"><i class="fa fa-cart-plus"
                aria-hidden="true"></i></a>
          </div>
          <div *ngIf="product.quantity<=0">
            <div class="shoping__cart__btns">
              <a class="primary-btn cart-btn">Đã hết hàng</a>

            </div>
          </div>
          <ul>
            <li><b>Loại hàng</b> <span>{{product.categoryName}}</span></li>
            <li><b>Thời gian vận chuyển</b> <span>Trong vòng 1 ngày</span></li>
            <li><b>Khối lượng</b> <span>1 {{product.unit}}</span></li>
            <li><b>Chia sẻ</b>
              <div class="share">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Thông tin</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Đánh giá
                <span>(1)</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Thông tin sản phẩm</h6>
                <p [innerHTML]="product.description"></p>
              </div>
            </div>

            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <div class="product__details__tab__desc">
                <div class="d-flex justify-content-center b">
                  <div class="card text-dark" style="background-color:rgb(215, 249, 243);">
                    <div *ngIf="comments.length">
                      <div class="card-body p-4" *ngFor="let item of comments">
                        <h4 class="mb-0">Bình luận mới nhất</h4>
                        <p class="fw-light mb-4 pb-2">Tât cả bình luận sẽ hiển thị tại đây</p>

                        <div class="d-flex flex-start">
                          <img class="rounded-circle shadow-1-strong me-3 mr-3" src="{{item.account.avatar}}"
                            alt="avatar" width="60" height="60" />
                          <div>
                            <h6 class="fw-bold mb-1">{{item.account.userName}}</h6>
                            <div class="d-flex align-items-center mb-3">
                              <p class="mb-0">
                                {{item.postedDate|date:'dd/MM/yyyy'}}
                              </p>

                            </div>
                            <p class="mb-0">
                              {{item.content}}
                            </p>
                          </div>
                        </div>
                        <hr class="my-0" />
                      </div>
                    </div>



                    <div class="card-body p-4" *ngIf="allow">
                      <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3 mr-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                          height="65" />
                        <div class="w-100">
                          <h5>Bình luận</h5>

                          <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" name="content"
                              [(ngModel)]="comment.content" rows="4" cols="200"></textarea>

                          </div>
                          <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-secondary" (click)="saveComment()">
                              Gửi <i class="fa fa-long-arrow-alt-right ms-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Sản phẩm liên quan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of sameProducts">
        <div class="product__item">
          <div class="product__item__pic set-bg" style="background-image: url({{item.images[0]}});">
            <ul class="product__item__pic__hover">
              <li><a><i class="fa fa-heart"></i></a></li>
              <li (click)="changePath(item.id)"><a><i class="fa fa-eye"></i></a></li>
              <li data-toggle="modal" data-target="#modalLoginForm" *ngIf="!account"><a><i
                    class="fa fa-shopping-cart"></i></a></li>
              <li *ngIf="account" (click)="addToCart1(item)"><a><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">{{item.name}}</a></h6>
            <small><s>{{item.price|currency:'VND'}}</s></small>
            <h5>{{item.promotionPrice|currency:'VND'}}</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Related Product Section End -->


<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog payment-content" role="document">
    <div class="modal-content">

      <div class="modal-body mx-3">
        <div class="row mt-3 mb-1">
          <div class="col-md-11 ">
            <h4 class="font-weight-bold ">Thông tin đơn hàng</h4>
          </div>
          <div class="col-md-1">
            <i class="fa fa-times justify-content-end" style="font-size: 22px;color: gray; cursor: pointer;"
              data-dismiss="modal"></i>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12">
            <hr class="dashed">
          </div>
        </div>
        <div class="shoping__cart__table">
          <table style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <thead>
              <tr>
                <th class="shoping__product">Sản phẩm</th>
                <th></th>
                <th></th>


              </tr>
            </thead>
            <tbody>
              <tr>

                <td class="shoping__cart__item">
                  <img class="image" src={{product.images[0]}} width="70" height="70">
                  <h5>{{product.name}}</h5><small id="quantity"> x{{product.quantityCart}}</small>
                </td>
                <td class="shoping__cart__quantity">
                  <small>{{product.categoryName}}</small>
                </td>
                <td class="shoping__cart__price">
                  {{product.promotionPrice|currency:'VND'}}&nbsp;&nbsp;&nbsp;&nbsp;
                  <s><small>{{product.price|currency:'VND'}}</small></s>
                </td>




              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-lg-8">

          </div>
          <div class="col-lg-4 justify-content-end">
            <small>Phí vận chuyển : {{15000|currency:'VND'}}</small>
            <br><br>
            <h6>Tổng tiền:</h6>
            <h4><b id="total">{{product.promotionPrice*product.quantityCart+15000|currency:'VND'}}</b></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h5><b>Thông tin người nhận</b></h5>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-12">
            <hr class="dashed">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-12">
            <input type="checkbox" name="otheraddress" [(ngModel)]="otherAddress" (input)="changeAddress()"> Sử dụng địa
            chỉ khác
          </div>
        </div>

        <div class="row" *ngIf="otherAddress">
          <div class="col-lg-8">
            <label for="">Họ tên</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]="order.fullName">

          </div>
          <div class="col-lg-4">
            <label for="">Số điện thoại</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="order.phone">
          </div>

          <div class="col-lg-12">
            <label for="">Địa chỉ</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="order.address">
          </div>
        </div>


        <div class="row" *ngIf="!otherAddress">
          <div class="col-lg-8">
            <label for="">Họ tên</label>
            <p>{{account?account.userDTO.fullName:''}}</p>

          </div>
          <div class="col-lg-4">
            <label for="">Số điện thoại</label>
            <p>{{account?account.userDTO.phoneNumber:''}}</p>
          </div>

          <div class="col-lg-12">
            <label for="">Địa chỉ</label>
            <p>{{account?account.userDTO.address:''}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

            <label for="">Ghi chú</label>
            <textarea name="note" id="" cols="30" rows="5" class="form-control" [(ngModel)]="order.note"> </textarea>

          </div>
        </div>

      </div>
      <div class="row mb-4 ml-5 mr-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><button class="btn btn-default col-lg-12 py-2" style="cursor: pointer;"
            data-dismiss="modal">Hủy</button></div>
        <div class="col-lg-3"><button class="btn btn-primary col-lg-12 py-2" style="cursor: pointer;"
            (click)="payment(product)">Đặt hàng</button></div>
        <div class="col-lg-3"></div>

      </div>
    </div>
  </div>
</div>
