<div class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row" *ngIf="account && info">
        <div class="col-md-4 gradient-custom text-center text-white"
          style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
          <img src="{{account.avatar}}" alt="Avatar" class="img-fluid my-5"
            style="width: 200px; border-radius: 1000px;" />
          <h5>{{account.userName}}</h5>
          <p>{{account.userDTO.fullName}}</p>
          <i class="fa fa-edit mb-5" (click)="edit()"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body p-4">
            <h4>Thông tin</h4>
            <hr class="mt-0 mb-4">

            <h5>Tài khoản</h5>
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Tên đăng nhập</h6>
                <p class="text-muted">{{account.userName}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Mật khẩu</h6>
                <p class="text-muted">{{hashPassword(account.password)}}</p>
              </div>
            </div>
            <hr>

            <h5>Cá nhân</h5>
            <div class="row pt-1">
              <div class="col-6 mb-3">
                <h6>Họ tên</h6>
                <p class="text-muted">{{account.userDTO.fullName}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Email</h6>
                <p class="text-muted">{{account.userDTO.email}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Số điện thoại</h6>
                <p class="text-muted">{{account.userDTO.phoneNumber}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Ngày sinh</h6>
                <p class="text-muted">{{account.userDTO.dateOfBirth|date:'dd-MM-yyyy'}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Giới tính</h6>
                <p class="text-muted">{{account.userDTO.gender?'Nam':'Nữ'}}</p>
              </div>
              <div class="col-6 mb-3">
                <h6>Địa chỉ</h6>
                <p class="text-muted">{{account.userDTO.address}}</p>
              </div>
            </div>

            <div class="row" style="text-align: end;">

              <div class="col-md-12 j">
                <button class="btn btn-sm btn-danger mr-2" (click)="logout()">Đăng xuất</button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal">Đóng</button>
              </div>

            </div>


          </div>
        </div>
      </div>

      <div class="row" *ngIf="account && !info">
        <div class="col-xl-12 gradient-custom">
          <div class="card-body p-md-5 text-black">
            <h4 class="mb-5 text-uppercase">Cập nhật thông tin</h4>

            <div class="row justify-content-center mb-4">
              <img src="{{avatar}}" alt="" width="250" height="250"
                style="border-radius: 1000px;box-shadow: 0 5px 10px;">
            </div>

            <div class="row mb-4">
              <div class="col-12 md:col-2">
                <div class="p-inputgroup">
                  <label for="upload" id="lab">Tải ảnh lên</label>
                  <input type="file" accept="image/png, image/jpeg" multiple [hidden]="true"
                    (change)="myUploader($event)" id="upload">
                </div>

              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example99">Tên đăng nhập</label>

              <input type="text" id="form3Example99" class="form-control form-control-lg" [(ngModel)]="account.userName"
                name="username" disabled>
              <small *ngIf="submited && !account.userName">*Yêu cầu không được để trống!</small>


            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example97">Mật khẩu</label>
              <input type="password" id="form3Example97" class="form-control form-control-lg" name="pass"
                [(ngModel)]="account.password" />
              <small *ngIf="submited && !account.password">*Yêu cầu không được để trống!</small>

            </div>
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-outline">
                  <label class="form-label" for="form3Example1m">Họ tên</label>
                  <input type="text" id="form3Example1m" class="form-control form-control-lg"
                    [(ngModel)]="account.userDTO.fullName" name="fullname" />
                  <small *ngIf="submited && !account.userDTO.fullName">*Yêu cầu không được để trống!</small>

                </div>
              </div>
            </div>


            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example8">Địa chỉ</label>
              <input type="text" id="form3Example8" class="form-control form-control-lg"
                [(ngModel)]="account.userDTO.address" name="address" />
              <small *ngIf="submited && !account.userDTO.address">*Yêu cầu không được để trống!</small>

            </div>

            <div class="form-outline mb-4">

              <label class="form-label" for="form3Example9">Email</label>
              <input type="text" id="form3Example9" class="form-control form-control-lg"
                [(ngModel)]="account.userDTO.email" name="email" />
              <small *ngIf="submited && !account.userDTO.email">*Yêu cầu không được để trống!</small>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example90">Số điện thoại</label>
              <input type="text" id="form3Example90" class="form-control form-control-lg"
                [(ngModel)]="account.userDTO.phoneNumber" name="phone" />
              <small *ngIf="submited && !account.userDTO.phoneNumber">*Yêu cầu không được để trống!</small>

            </div>

            <div class="form-outline mb-4">

              <label class="form-label" for="form3Example90">Ngày sinh</label>
              <input type="date" id="form3Example90" class="form-control form-control-lg"
                [(ngModel)]="account.userDTO.dateOfBirth" name="date" />
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-2 ">

              <h6 class="mb-0 me-4">Giới tính: </h6>

              <div class="form-check form-check-inline mb-0 me-4 ml-2">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                  [checked]="!account.userDTO.gender" (click)="setGender(false)" value="option1" />
                <label class="form-check-label" for="femaleGender">Nữ</label>
              </div>

              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                  [checked]="account.userDTO.gender" (click)="setGender(true)" value="option2" />
                <label class="form-check-label" for="maleGender">Nam</label>
              </div>

            </div>

            <div class="d-md-flex justify-content-end align-items-center">
              <button type="button" class="btn btn-sm btn-primary btn-lg col-md-2 mr-2" (click)="save()">Cập nhật</button>
              <button type="button " class="btn btn-sm btn-secondary btn-lg col-md-2" (click)="backToProfile()">Hủy</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
