.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
  i:hover
  {
    cursor: pointer;
  }
  #lab{
    display: inline-block;
    background-color: rgb(0, 205, 236);
    color: white;
    padding: 0.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }

