.choose
{
  background: #7fad39;
	border-color: #7fad39;
	color: #ffffff;
}

.select{
  border-radius: 5px;
  padding: 5px 10px;
}

li:hover
{
  cursor: pointer;
  color: #477700;
}

.active
{
  color: #477700;
  background-color: #e3ffd2;
  text-align: right;
  padding-right: 10px;
  border-radius: 10px;
}


