<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">

              <input type="text" name="name" [(ngModel)]="name" placeholder="Bạn cần tìm gì ?">
              <button type="submit" class="site-btn"  (click)="search()">Tìm kiếm</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>098.999.9999</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>THUCPHAMSACH24H.VN</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Trang chủ</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Danh mục</h4>
            <ul>
              <li><a (click)="getAllCategory()" [ngClass]="{'active':!categoryId}">Tất cả</a></li>
              <li *ngFor="let item of categories" (click)="getCategory(item.id)"><a
                  [ngClass]="{'active':categoryId===item.id}">{{item.name}}</a></li>
            </ul>
          </div>
          <div class="sidebar__item">
            <h4>GIá</h4>
            <div class="input-group flex-nowrap">
              <input type="number" class="form-control" placeholder="Từ" min="1" [(ngModel)]="fromPrice" name="from">
              <input type="number" class="form-control" placeholder="Đến" min="1" [(ngModel)]="toPrice" name="to">
              <span class="input-group-text" style="cursor: pointer;color:white ;background-color: #7fad39;"
                (click)="getByPrice()"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>

          </div>

          <div class="sidebar__item">
            <button class="btn btn-secondary col-md-12" (click)="clearFilter()">Xóa bộ lọc</button>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-7">

        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <div class="filter__sort">
                <span class="mr-2">Sắp xếp</span>
                <select class="select" name="select" [(ngModel)]="sort" (change)="getBySort()">
                  <option value="price">Giá</option>
                  <option value="name">Tên</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span>{{totalElements}}</span> Sản phẩm được tìm thấy</h6>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of products">
            <div class="product__item">
              <div class="product__item__pic"
                style="background-image: url({{item.images[0]}}); background-size: cover;">
                <ul class="product__item__pic__hover">
                  <li><a href="#"><i class="fa fa-heart"></i></a></li>
                  <li ><a (click)="getDetail(item.id)"><i class="fa fa-eye"></i></a></li>
                  <li data-toggle="modal" data-target="#modalLoginForm" *ngIf="!account"><a><i
                        class="fa fa-shopping-cart"></i></a></li>
                  <li *ngIf="account" (click)="addToCart(item.id)"><a><i class="fa fa-shopping-cart"></i></a></li>
                  <app-popup-login></app-popup-login>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">{{item.name}}</a></h6>
                <small><s>{{item.price|currency:'VND'}}</s></small>
                <h5>{{item.promotionPrice|currency:'VND'}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="product__pagination">
          <a *ngFor='let in of counter(totalPages) ;let i = index' (click)="getPage(i)"
            [ngClass]="{'choose': i===page}">{{i+1}}</a>
          <!-- <a ><i class="fa fa-long-arrow-right"></i></a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->
