.choose
{
  color: green;
  font-weight: 600;
  font-size: 20px;
}
li:hover
{cursor: pointer;}

.view:hover
{
  background-color: green;
  cursor: pointer;
  color: white;
}

.page
{
  background: #7fad39;
	border-color: #7fad39;
	color: #ffffff;
}
