 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" style="background-image: url(assets/img/breadcrumb.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="breadcrumb__text">
                  <h2>Tin tức</h2>
                  <div class="breadcrumb__option">
                      <a href="./index.html">Trang chủ</a>
                      <span>Tin tức</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-5">
              <div class="blog__sidebar">
                  <div class="blog__sidebar__search">
                      <form action="#">
                          <input type="text" placeholder="Tìm kiếm ..." name="name" [(ngModel)]="title" (change)="search()">
                          <button type="submit" (click)="search()"><span class="icon_search"></span></button>
                      </form>
                  </div>
                  <div class="blog__sidebar__item">
                    <h4>Danh mục</h4>
                    <ul>
                        <li (click)="getAll()" ><a [ngClass]="{'choose': !categoryId}" >Tất cả</a></li>
                        <li *ngFor="let item of categories" (click)="getByCategory(item.id)" ><a [ngClass]="{'choose': item.id===categoryId}">{{item.name}}</a></li>

                    </ul>
                  </div>
                  <div class="blog__sidebar__item">
                      <h4>Tin nổi bật</h4>
                      <div class="blog__sidebar__recent">
                          <a class="blog__sidebar__recent__item" *ngFor="let item of hotPosts" [routerLink]="['/blog-detail',item.id]">
                              <div class="blog__sidebar__recent__item__pic">
                                  <img src="{{item.images[0]}}" width="80" height="70" alt="">
                              </div>
                              <div class="blog__sidebar__recent__item__text">
                                  <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{item.title.substring(0,50)}}</h6>
                                  <span>{{item.createdDate|date:'dd /MM/yyyy'}}</span>
                              </div>
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-8 col-md-7">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let item of posts">
                      <div class="blog__item">
                          <div class="blog__item__pic">
                              <img src="{{item.images[0]}}" height="230" style="border-radius: 5px;" alt="">
                          </div>
                          <div class="blog__item__text">
                              <ul>
                                  <li><i class="fa fa-calendar-o"></i> {{item.createdDate|date:'MMM dd,yyyy'}}</li>
                                  <li><i class="fa fa-comment-o"></i> 5</li>
                              </ul>
                              <h5><a  >{{item.title}}</a></h5>
                              <div [innerHTML]="item.title+' ...'" class="mb-2"></div>
                              <a (click)="getDetail(item.id)" class="blog__btn view" >XEM THÊM <span class="arrow_right"></span></a>
                          </div>
                      </div>

                  </div>

              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="product__pagination blog__pagination">

                      <a *ngFor='let in of counter(totalPages) ;let i = index' (click)="getPage(i)"
                        [ngClass]="{'page': i===page}">{{i+1}}</a>
                      <!-- <a ><i class="fa fa-long-arrow-right"></i></a> -->

                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section End -->
