<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <span>Danh mục</span>
          </div>
          <ul>
            <li *ngFor="let item of category" class="item" [routerLink]="['/shop',item.id]"><a>{{item.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">

              <input type="text" name="name" [(ngModel)]="name"  placeholder="Bạn cần tìm gì ?">
              <button type="submit" class="site-btn" (click)="changePageByNameSearch()">Tìm kiếm</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>098.999.9999</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" style="background-image: url(assets/img/hero/banner.jpg);">
          <div class="hero__text">
            <span>Thực phẩm sạch 24h.com</span>
            <h2>100% Organic</h2>
            <p>Miễn phí giao hàng bán kính 5 km</p>
            <a href="#" class="primary-btn" [routerLink]="['/shop','']">Khám phá ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->

<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Sản phẩm nổi bật</h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" (click)="getAll()">Tất cả</li>
            <li data-filter=".oranges" *ngFor="let item of category" (click)="setCategoryId(item.id)" >{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter" >
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of products">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" style="background-image: url({{item.images[0]}});">
            <ul class="featured__item__pic__hover">
              <li ><a><i class="fa fa-heart"></i></a></li>
              <li><a [routerLink]="['/shop-detail',item.id]"><i class="fa fa-eye"></i></a></li>
              <li data-toggle="modal" data-target="#modalLoginForm" *ngIf="!account"><a><i class="fa fa-shopping-cart"></i></a></li>
              <li *ngIf="account&&account.id!==item.accountId" (click)="addToCart(item.id)"><a><i class="fa fa-shopping-cart"></i></a></li>

            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a>{{item.name}}</a></h6>
            <small><s>{{item.price|currency:'VND'}}</s></small>
            <h5>{{item.promotionPrice|currency:'VND'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="assets/img/banner1.png" height="230" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img src="assets/img/banner2.jpg" height="230" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->


<!-- Blog Section Begin -->
<section class="from-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title from-blog__title">
          <h2>Có thể bạn quan tâm</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let item of blogs" style="cursor: pointer;">
        <div class="blog__item" [routerLink]="['/blog-detail',item.id]">
          <div class="blog__item__pic">
            <img src="{{item.images[0]}}" height="230" alt="">
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> {{item.createdDate|date:'dd/MM/yyyy'}}</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a>{{item.title}}</a></h5>
            <p>{{item.title}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Blog Section End -->

<app-popup-login></app-popup-login>
