<div class="card card-registration">
  <div class="row g-0">
    <div class="col-xl-6 d-none d-xl-block">
      <img src="https://as2.ftcdn.net/v2/jpg/02/17/92/55/1000_F_217925505_BUGUNsNheGvHKIMJn7xGjt1u9dsamnmo.jpg"
        alt="Sample photo" class="img-fluid"
        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
    </div>
    <div class="col-xl-6">
      <div class="card-body p-md-5 text-black">
        <h3 class="mb-5 text-uppercase">Đăng kí</h3>

        <div class="row justify-content-center mb-4">
          <img src="{{avatar}}" alt="" width="250" height="250" style="border-radius: 1000px;box-shadow: 0 5px 10px;"
            *ngIf="avatar">
        </div>

        <div class="row mb-4">
          <div class="col-12 md:col-2">
            <div class="p-inputgroup">
              <label for="upload" id="lab">Tải ảnh lên</label>
              <input type="file" accept="image/png, image/jpeg" multiple [hidden]="true" (change)="myUploader($event)"
                id="upload">
            </div>

          </div>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example99">Tên đăng nhập</label>

          <input type="text" id="form3Example99" class="form-control form-control-lg" [(ngModel)]="account.userName"
            name="username" />
          <small *ngIf="submited && !account.userName">*Tên đăng nhập không được để trống!</small>
          <small *ngIf="submited && account.userName&&account.userName.length>20">*Tên đăng nhập không được vượt quá 20 kí tự!</small>


        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example97">Mật khẩu</label>
          <input type="password" id="form3Example97" class="form-control form-control-lg" name="pass"
            [(ngModel)]="account.password" />
          <small *ngIf="submited && !account.password">*Mật khẩu không được để trống!</small>

        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-outline">
              <label class="form-label" for="form3Example1m">Họ tên</label>
              <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="userDTO.fullName"
                name="fullname" maxlength="50" />
              <small *ngIf="submited && !userDTO.fullName">*Họ tên không được để trống!</small>

            </div>
          </div>
        </div>


        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example8">Địa chỉ</label>
          <input type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="userDTO.address"
            name="address" maxlength="20"/>
          <small *ngIf="submited && !userDTO.address">*Địa chỉ không được để trống!</small>

        </div>

        <div class="form-outline mb-4">

          <label class="form-label" for="form3Example9">Email</label>
          <input type="text" id="form3Example9" class="form-control form-control-lg" [(ngModel)]="userDTO.email"
            name="email" maxlength="50"/>
          <small *ngIf="submited && !userDTO.email">*Email không được để trống!</small>

        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example90">Số điện thoại</label>
          <input type="text" id="form3Example90" class="form-control form-control-lg" [(ngModel)]="userDTO.phoneNumber"
            name="phone" />
          <small *ngIf="submited && !userDTO.phoneNumber">*Số điện thoại không được để trống!</small>
          <small *ngIf="submited &&userDTO.phoneNumber&& !isNumber(userDTO.phoneNumber)">*Số điện thoại không đúng định dạng!</small>


        </div>

        <div class="form-outline mb-4">

          <label class="form-label" for="form3Example90">Ngày sinh</label>
          <input type="date" id="form3Example90" class="form-control form-control-lg" [(ngModel)]="userDTO.dateOfBirth"
            name="date" />
        </div>

        <div class="d-md-flex justify-content-start align-items-center mb-2 ">

          <h6 class="mb-0 me-4">Giới tính: </h6>

          <div class="form-check form-check-inline mb-0 me-4 ml-2">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" [checked]="!userDTO.gender"
              (click)="setGender(false)" value="option1" />
            <label class="form-check-label" for="femaleGender">Nữ</label>
          </div>

          <div class="form-check form-check-inline mb-0 me-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" [checked]="userDTO.gender"
              (click)="setGender(true)" value="option2" />
            <label class="form-check-label" for="maleGender">Nam</label>
          </div>

        </div>

        <div class="pt-3">
          <button type="button" class="btn btn-warning btn-lg col-md-12" (click)="save()">Đăng kí</button>
        </div>

      </div>
    </div>
  </div>
</div>
